<ion-header class="ion-no-border">
  <ion-toolbar class="light-bg">
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button menu="main-menu" class="purple"></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end" class="menu-container">
      <button class="menu-items current" [routerLink]="['/home']">
        <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
        Inicio
      </button>
      <button class="menu-items" [routerLink]="['/report']">
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        Denunciar
      </button>
      <button class="menu-items" [routerLink]="['/about']">
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        ¿Quienes somos?
      </button>    
      <button class="menu-items" [routerLink]="['/login']">
        <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
        Ingresar
      </button>
    </ion-buttons>
    <ion-title>      
      <a href="/home"><img src="../assets/img/logo.png" id="logo" alt="Asociación progreso para México"></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <article class="title-violence">
    <section>
      <h3 align="center" class="title-violence-text">Violencia Sexual </h3>
    </section>
  </article>


  <article class="introduction centralized light-bg">


    <section>
      <h3 align="center" class="title"><b> ¿Violencia Sexual</b></h3>
      <p align="center">La violencia
        sexual es uno de
        los tipos de
        violencia que
        más se ejerce
        contra las
        mujeres
        menores de
        edad y adultas.<br>
        La Ley General de Acceso a las Mujeres a una
        Vida Libre de Violencia, define a la violencia
        sexual como: “Cualquier acto que degrada o
        daña el cuerpo y/o la sexualidad de la Víctima
        y que por tanto atenta contra su libertad,
        dignidad e integridad física. Es una expresión
        de abuso de poder que implica la supremacía
        masculina sobre la mujer, al denigrarla y
        concebirla como objeto”
        
      </p>
    </section>


    <section class="report">
      <p align="center"><b>¡Todas las denuncias son anónimas!</b></p>
      <ion-button id="report-btn" [routerLink]="['/report']">
        Realizar una denuncia
      </ion-button>
    </section>


    <section>
      <h3 align="center" class="title"><b>¿Qué puedo hacer si he recibido o recibo violencia sexual?</b></h3>
      <p align="center">Cualquier tipo de violencia sexual, representa un problema complejo y grave, por lo que las víctimas
        necesitan recibir atención integral y especializada, tanto inmediata como a largo plazo. Es importante que las
        víctimas denuncien y no oculten lo sucedido. 

      </p>
    </section>

  </article>

  <article class="message-violence">
    <section>
      <h3 align="center" class="message-violence-text">!NO TE CALLES¡</h3>
      <h3 align="center" class="message-violence-text">RECUERDA QUE DENUNCIAR NO TIENE NINGUN COSTO</h3>
    </section>
  </article>






  <br><br><br><br>
  <article id="v-types" class="centralized">
    <h2 align="center" class="title"><b><br>La violencia sexual incluye pero no se limita a lo siguiente:</b></h2>
    <div class="v-content">
      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Se sanciona por delito de acoso sexual a quien pida (para sí o para otro) o realice en otra persona una conducta sexual no deseada por la víctima, y que como consecuencia de esa conducta cause un daño o sufrimiento psicoemocional que lastime su dignidad. </p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Violación en el matrimonio o en citas amorosas.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Obligarte a participar en una actividad sexual amenazándote con destruir tu carrera, tus calificaciones, tu hogar o tu reputación si te niegas a hacerlo. O solicitarte favores sexuales.</p>
          </div>
        </div>
      </div>

      
      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>
              Forzarte físicamente a participar en una actividad sexual sin tu consentimiento.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Violación sistemática, esclavitud sexual y otras formas de violencia
              particularmente comunes en situaciones de conflicto armado (por ejemplo
              fecundación forzada).</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Abuso sexual de personas física o mentalmente discapacitadas.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Realizar comentarios sobre tu vestimenta, cuerpo, comportamiento o relaciones románticas sin haberlo solicitado.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Realizar comentarios o bromas sexuales.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Pedir fotos o videos sexuales tuyos.</p>
          </div>
        </div>
      </div>







    </div>
  </article>

  <br><br>
  <br><br>
  <br><br>
  <article class="introductionbg">
    <section>
      <h3 align="center" class="title"><b> ¿Dónde denunciar?</b></h3>


      <p align="center"><b>FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 / 911</p>

      <h3 align="center" class="title"><b> ¿Dónde denunciar?</b></h3>
      <p align="center"><b>ATENCION TEMPRANA FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 </p>

      <p align="center"><b>COMISION MUNICIPAL DE LOS DERECHOS HUMANOS DE TEPIC</b></p>
      <p align="center">Membrillo Col. Comerciantes Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>


      <p align="center"><b>COMISION DE DEFENSA DE LOS DERECHOS HUMANOS DEL ESTADO DE NAYARIT</b></p>
      <p align="center">Encino 18, Col. San juan Esq. Jacarandas Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>



      <p align="center"><b>CESSA TEPIC CENTRO DE SALUD Y DE SERVICIOS AMPLIADOS JUAN ESCUTIA</b></p>
      <p align="center">Av.Juan Escutia Col. Centro 63195 Tepic, Nay.</p>
      <p align="center">311-216-39-43</p>


      <p align="center"><b>DIF ESTATAL</b></p>
      <p align="center">Blvrd Luis Donaldo Colosio #93, Ciudad Industrial 63173, Tepic, Nay.</p>
      <p align="center">311-129-51-00</p>

      <p align="center"><b>DIF MUNICIPAL</b></p>
      <p align="center">Blvrd Luis Donaldo Colosio #1094, Fracc. Jacarandas Tepic, Nay.</p>
      <p align="center">311-219-67-45 ext. 120</p>

      <p align="center"><b>PROCURADORA DE PREVENCION A NIÑAS, NIÑOS Y ADOLESCENTES</b></p>
      <p align="center">Blvrd Luis Donaldo Colosio #93, Ciudad Industrial 63173, Tepic, Nay.</p>
      <p align="center">311-129-51-00</p>


      <p align="center"><b>ATENCION TEMPRANA FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 </p>

      <p align="center"><b>CENTRO DE JUSTICIA DE LA MUJER</b></p>
      <p align="center">Av.Rey Nayar #199 63190 Tepic, Nay.</p>
      <p align="center">311-129-50-00</p>

      <p align="center"><b>PAMAR</b></p>
      <p align="center">Rayón #86 Col. Acayapan Tepic, Nay.</p>
      <p align="center">311-212-07-21</p>


      <p align="center"><b>COMISION DE DEFENSA DE LOS DERECHOS HUMANOS DEL ESTADO DE NAYARIT</b></p>
      <p align="center">Encino 18, Col. San juan Esq. Jacarandas Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>

      <p align="center"><b>INMUNAY INSTITUTO PARA LA MUJER NAYARITA</b></p>
      <p align="center">Av. México No 191 sur entre insurgentes y miñón, Tepic, Nay.</p>
      <p align="center">311-217-03-77</p>

    </section>

  </article>

  <article id="index-container">

    <ion-slide>
      <ion-avatar class="carousel">
        <img src="../assets/img/sexual.jpg" alt="img2" class="img-carousel">
      </ion-avatar>
    </ion-slide>
  </article>


  <article class="introductionbg">
    <section>
      <h3 align="center" class="title"><b> Recuerda que denunciar es completamente !GRATIS¡</b></h3>
      <p align="center">
        La violencia sexual es cualquier actividad o contacto sexual que ocurre sin su consentimiento. Puede involucrar fuerza física o amenaza de fuerza. También puede ocurrir debido a coerción o amenazas. Si usted ha sido víctima de violencia sexual, no es su culpa.</p>
    </section>
  </article>

  <br>
  <br>
  <br>
  <br>

  <article>

    <ion-card class="botom" routerLink="/violence-type/institucional">
      <img src="../assets/img/institucional.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Institucional
        </ion-card-title>
        <p>
          Son los actos u omisiones de las personas con calidad de servidor público.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/sexual">
      <img src="../assets/img/sexual.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Sexual
        </ion-card-title>
        <p>
          Cuando se manipula a realizar una actividad sexual no deseada.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/laboral">
      <img src="../assets/img/laboral.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Laboral
        </ion-card-title>
        <p>
          No temas denunciar, aún si quien te acosa es tu superior jerárquico.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/feminicidio">
      <img src="../assets/img/feminicidio.jpg" />
      <ion-card-content>
        <ion-card-title>
          Feminicidio
        </ion-card-title>
        <p>
          Las autoridades deben respetar la dignidad de las víctimas.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/familiar">
      <img src="../assets/img/repro.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia familiar.
        </ion-card-title>
        <p>
          Los integrantes de la familia están obligados a evitar conductas que generen violencia familiar.
        </p>
      </ion-card-content>
    </ion-card>
  </article>

  <ion-footer>
    <div class="footer">
      <div class="footer-content">
        <h4 class="green-title">Contacto</h4>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="call-outline"></ion-icon>
          <p>311 264 0466</p>
        </ion-item>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="logo-facebook"></ion-icon>
          <p>/promexac</p>
        </ion-item>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="mail-outline"></ion-icon>
          <p>contacto@progresoparamexico.org</p>
        </ion-item>
      </div>
    </div>
  </ion-footer>

</ion-content>