<ion-header class="">
  <ion-toolbar class="light-bg">
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button menu="main-menu" class="purple"></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end" class="menu-container">
      <button class="menu-items" [routerLink]="['/home']">
        Inicio
      </button>
      <button class="menu-items" [routerLink]="['/report']">
        Denunciar
      </button>
      <button class="menu-items current" [routerLink]="['/about']">
        ¿Quienes somos?
      </button>    
      <button class="menu-items" [routerLink]="['/login']">
        Ingresar
      </button>
    </ion-buttons>
    <ion-title>      
      <a href="/home"><img src="../assets/img/logo.png" id="logo" alt="Asociación progreso para México" loading="lazy"></a>                        
      <span class="title-text">Asociación Progreso para México</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article>
    <div class="intro">
      <div class="intro-content">
        <h3 class="title">¿Quienes somos?</h3>
        <p class="light text">Somos un equipo multidisciplinario, multicultural; siendo conformada 
          mayoritariamente por mujeres, jóvenes de diversas disciplinas de las
          áreas sociales; con una amplia experiencia en el trabajo de capacitación, 
          gestión, desarrollo y ejecución de proyectos dentro del ámbito público y 
          social.</p>
      </div>
    </div>
  </article>

  <article>
    <div class="slides-container">
      <h1 class="light">¿Qué hacemos?</h1>
      <ion-slides pager="true" class="slider">
        <ion-slide>
          <ion-avatar class="slide">          
            <img class="img-slide" src="../assets/img/proyects.jpg" alt="Proyectos" loading="lazy">
            <div class="above-text">
              <h3 class="light">Proyectos</h3>
            </div>
            <div class="above-center-text">
              <p align="justify">Desarrollamos programas y proyectos acordes a las necesidades de las instituciones; desde la planeación, ejecución y seguimiento; creando estrategias para medir su impacto y resultados obtenidos.</p>
            </div>
          </ion-avatar>
        </ion-slide>
        <ion-slide>
          <ion-avatar class="slide">          
            <img class="img-slide" src="../assets/img/investigation.jpg" alt="Investigación" loading="lazy">
            <div class="above-text">
              <h3 class="light">Investigación:</h3>
            </div>
            <div class="above-center-text">
              <p align="justify">Servicios de consultoría estratégica, asistencia técnica, investigación social especializada en políticas y programas públicos de actuación. Logrando incluir los sectores involucrados para la búsqueda de soluciones.</p>
            </div>
          </ion-avatar>
        </ion-slide>
        <ion-slide>
          <ion-avatar class="slide">          
            <img class="img-slide" src="../assets/img/management.jpg" alt="Gestión" loading="lazy">
            <div class="above-text">
              <h3 class="light">Gestión:</h3>
            </div>
            <div class="above-center-text">
              <p align="justify">Asesoría en procuración de fondos y gestión de diversos tipos de proyectos; cabildeo y construcción de alianzas participativas, brindando acompañamiento y propuestas para alcanzarlo.</p>
            </div>
          </ion-avatar>
        </ion-slide>
        <ion-slide>
          <ion-avatar class="slide">          
            <img class="img-slide" src="../assets/img/capacitation.jpg" alt="Capacitación" loading="lazy">
            <div class="above-text">
              <h3 class="light">Capacitación:</h3>
            </div>
            <div class="above-center-text">
              <p align="justify">Diseño e impartición de talleres acorde a la problemática, población objetivo y necesidades; con indicadores que permiten evaluar alcances; cuantificar logros y propuestas para su actualización constante.</p>    
            </div>
          </ion-avatar>
        </ion-slide>
      </ion-slides>
    </div>    
  </article>

  <article>
    <div class="cards center">
      <h3 class="title green-title" align="center">Objeto social</h3>
      <p align="center" class="text dark">Atención y apoyo a personas que se vean impedidas para satisfacer sus 
      necesidades básicas de subsistencia tales como alimentación, vestido, 
      salud, educación, cultura y capacitación, que necesiten apoyo 
      psicosocial, físico y emocional, que no cuenten con los elementos 
      necesarios para su desarrollo integral y social, a través de mejorar y 
      modificar las circunstancias que impidan al individuo su desarrollo, 
      otorgando servicios que mejoren las condiciones psicosociales, 
      educativas, de salud física, emocional, de autosuficiencia, 
      sustentabilidad, cultura y de orientación social.</p>
    </div>
  </article>

  <article>
    <div class="cards" align="center">
      <h2 class="purple">Áreas de trabajo:</h2>
      <div id="equity" class="areas">
        <p>Equidad de genero</p>
        <ion-thumbnail>
          <img src="../assets/icon/equality.png" alt="Equidad de genero" loading="lazy">
        </ion-thumbnail>
      </div>
      <div id="government" class="areas">
        <p>Política y Gobierno</p>
        <ion-thumbnail>
          <img src="../assets/icon/government.png" alt="Política y gobierno" loading="lazy">
        </ion-thumbnail>
      </div>
      <div id="participation" class="areas">
        <p>Participación Social</p>
        <ion-thumbnail>
          <img src="../assets/icon/participation.png" alt="Participación social" loading="lazy">
        </ion-thumbnail>
      </div>
      <div id="prevention" class="areas">
        <p>Prevención Social</p>
        <ion-thumbnail>
          <img src="../assets/icon/prevention.png" alt="Prevención social" loading="lazy">
        </ion-thumbnail>
      </div>
    </div>    
  </article>

  <article>
    <div class="cards">
      <h2 class="purple" align="center">Nuestros Objetivos</h2>
      <div class="card-obj centralized">
        <ion-card>
          <img src="../assets/img/participacion.png" width="100%" height="250px" alt="Participación" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Participación Ciudadana</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Promover la participación ciudadana con la finalidad de construir una sociedad justa, igualitaria y sustentable.</p><br>
          </ion-card-content>
        </ion-card>
      </div>      
      
      <div class="card-obj">
        <ion-card>
          <img src="../assets/img/promocion-derechos.jpg" width="100%" height="250px" alt="Promoción de los derechos" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Promoción de los derechos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Desarrollar acciones bajo una perspectiva de derechos, equidad, igualdad, seguridad social, cultura, artes, educación ambiental.</p><br>
          </ion-card-content>
        </ion-card>      
      </div>      

      <div class="card-obj">
        <ion-card>
          <img src="../assets/img/capacitacion.jpg" width="100%" height="250px" alt="Capacitación" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Capacitación</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Diseñar, implementar, gestionar y coordinar programas de intervención, capacitación, producción artística y cultural.</p><br>
          </ion-card-content>
        </ion-card>      
      </div>      

      <div class="card-obj centralized">
        <ion-card>
          <img src="../assets/img/intervencion.jpg" width="100%" height="250px" alt="Intervención social" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Intervención Social</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Elaborar propuestas de intervención social, desarrollo sustentable, igualdad de género, política social y de derechos.</p>
          </ion-card-content>
        </ion-card>      
      </div>      

      <div class="card-obj">
        <ion-card>
          <img src="../assets/img/desarrollo.jpg" width="100%" height="250px" alt="Desarrollo social" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Desarrollo Social</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Realizar acciones que favorezcan el desarrollo social, medio ambiental y la paz con un enfoque de respeto.</p><br>
          </ion-card-content>
        </ion-card>      
      </div>      

      <div class="card-obj">
        <ion-card>
          <img src="../assets/img/grupos.jpg" width="100%" height="250px" alt="Grupos prioritarios" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Grupos Prioritarios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Promoción, defensa, formación, organización y capacitación para el cumplimiento de los derechos de grupos prioritarios.</p>
          </ion-card-content>
        </ion-card>      
      </div>      

      <div class="card-obj last-row">
        <ion-card>
          <img src="../assets/img/identidad.jpg" width="100%" height="250px" alt="Fortalecimiento a la identidad" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Fortalecimiento a la Identidad</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Implementar acciones que promuevan y fortalezcan el idioma, la identidad, costumbres, organización en un ambiente de respeto a los derechos civiles.</p>
          </ion-card-content>
        </ion-card>      
      </div>      

      <div class="card-obj">
        <ion-card>
          <img src="../assets/img/balance.jpg" width="100%" height="250px" alt="Equidad social" loading="lazy"/>
          <ion-card-header>          
            <ion-card-title>Equidad Social</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Impulsar trabajos organizativos, productivos y educativos con mujeres, promoviendo acciones que tiendan al alcance de una mayor equidad social.</p>
          </ion-card-content>
        </ion-card>      
      </div>      
    </div>      
  </article>

  <ion-footer>
    <div class="footer">
      <div class="footer-content">
        <div class="contact">
          <h4 class="green-title">Contacto</h4>      
          <ion-item lines="none" class="footer-item">
            <ion-icon name="call-outline"></ion-icon>
            <p>311 264 0466</p>
          </ion-item>        
          <ion-item lines="none" class="footer-item">
            <ion-icon name="logo-facebook"></ion-icon>
            <p>/promexac</p>
          </ion-item>        
          <ion-item lines="none" class="footer-item">
            <ion-icon name="mail-outline"></ion-icon>
            <p>contacto@progresoparamexico.org</p>        
          </ion-item>
        </div>
        <div class="links">
          <a class="footer-item-links" href="violence-type/institucional">Violencia Institucional</a><br>
          <a class="footer-item-links" href="/violence-type/sexual">Violencia Sexual</a><br>
          <a class="footer-item-links" href="/violence-type/familiar">Violencia Familiar</a><br>
          <a class="footer-item-links" href="/violence-type/laboral">Violencia Laboral</a><br>
          <a class="footer-item-links" href="/violence-type/feminicidio">Feminicidio</a>
        </div>
      </div>      
    </div>    
  </ion-footer>
</ion-content>