<ion-header class="">
  <ion-toolbar class="light-bg">
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button menu="main-menu" class="purple"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="menu-container">
      <button class="menu-items" [routerLink]="['/home']">
        Inicio
      </button>
      <button class="menu-items" [routerLink]="['/report']">
        Denunciar
      </button>
      <button class="menu-items" [routerLink]="['/about']">
        ¿Quienes somos?
      </button>
      <button class="menu-items current" [routerLink]="['/login']">
        Ingresar
      </button>
    </ion-buttons>
    <ion-title>
      <a href="/home"><img src="../assets/img/logo.png" id="logo" alt="Asociación progreso para México"></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formLogin" (ngSubmit)="login( f )"
  #f = "ngForm">
    <div id="container">
      <h1 align="center">Ingresa a tu cuenta</h1>
      <div id="form-items">
        <ion-item class="item">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)] = "username" formControlName="us_name" name="username"></ion-input>
        </ion-item>
        <div class="form_error">
          <ng-container *ngFor="let val of validationMessages['us_name']">
            <div
              *ngIf="formLogin.get('us_name').hasError(val.type) && (formLogin.get('us_name').dirty || formLogin.get('us_name').touched)"
            >
              {{val.message}}
            </div>
          </ng-container>
        </div>

        <ion-item class="item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" formControlName="pass"></ion-input>
        </ion-item>
        <div class="form_error">
          <ng-container *ngFor="let val of validationMessages['pass']">
            <div
              *ngIf="formLogin.get('pass').hasError(val.type) && (formLogin.get('pass').dirty || formLogin.get('pass').touched)"
            >
              {{val.message}}
            </div>
          </ng-container>
        </div>
      </div>
      <ion-button type="submit" id="submit-button" >
        Ingresar
      </ion-button>
      <!-- <ion-item class="register">
        <ion-label>
          ¿Aún no tienes cuenta? <a href="#" class="reg-link">Registrate</a>
        </ion-label>
      </ion-item> -->
    </div>
  </form>

  <ion-footer>
    <div class="footer">
      <div class="footer-content">
        <div class="contact">
          <h4 class="green-title">Contacto</h4>      
          <ion-item lines="none" class="footer-item">
            <ion-icon name="call-outline"></ion-icon>
            <p>311 264 0466</p>
          </ion-item>        
          <ion-item lines="none" class="footer-item">
            <ion-icon name="logo-facebook"></ion-icon>
            <p>/promexac</p>
          </ion-item>        
          <ion-item lines="none" class="footer-item">
            <ion-icon name="mail-outline"></ion-icon>
            <p>contacto@progresoparamexico.org</p>        
          </ion-item>
        </div>
        <div class="links">
          <a class="footer-item-links" href="violence-type/institucional">Violencia Institucional</a><br>
          <a class="footer-item-links" href="/violence-type/sexual">Violencia Sexual</a><br>
          <a class="footer-item-links" href="/violence-type/familiar">Violencia Familiar</a><br>
          <a class="footer-item-links" href="/violence-type/laboral">Violencia Laboral</a><br>
          <a class="footer-item-links" href="/violence-type/feminicidio">Feminicidio</a>
        </div>
      </div>      
    </div>    
  </ion-footer>
</ion-content>
