*{
    font-family: 'Roboto', sans-serif;
}

.light-bg{
    --background: #fff;    
}

.menu-bar{    
    padding:10px;
}   

.menu-container{
    display: none;
}  

#logo{    
    width:90px;    
}      

ion-item.footer-item > p, 
ion-item.footer-item > ion-icon{
    color: #fff; 
}    

.green-title{
    color:#39b54a;    
}

.purple{
    color: #331832;
}  

div#container > h1{
    color: #262262;
}

#container{       
    width:90%;
    height: 500px;      
    border-top: 3px solid #39b54a;
    margin-left:5%;   
    margin-top:15%;    
    box-shadow: 2px 3px 10px 3px #888888;   
    border-radius: 3px;
    text-align: center;
}

#form-items{
    padding:10px 10px 10px 10px;
}

.item{
    padding:5px;
}    

#submit-button{
    transition-duration:0.3s;
    width:100px;      
    --border-radius: 50px;      
    --background: #fff;
    border: 2px solid #331832;
    --color: #331832;
    border-radius: 50px;
    margin-top: 50px;
    --background-activated: #fff;
    --color-activated: #39b54a;
}

#submit-button:hover{
    transition-duration:0.3s;
    --background-activated: #fff;
    --background-focused: #fff;
    border: 2px solid #39b54a;
    --color: #39b54a;
}

#submit-button:active{
    --background-activated: #fff;
    --background-focused: #fff;
    border: 2px solid #331832;
    --color: #331832;
}

.form_error{
    text-align: left; 
    margin-left: 20px;
    color:red;
}

@media screen and (min-width:600px){
    .menu-button{
        display: none;
    }

    .menu-items{          
        color: #999;    
        margin-left: 10px;
        font-size: 1.2em;    
        background: none;    
        cursor:pointer;
    }
    
    .current{
        color: #262262;                
    }

    .current:before{ 
        content:'';
        position:absolute;       
        top:30px;
        transform: translateX(-3px);
        width:75px;
        height:3px;
        background:#39b54a;
        border-radius:3px;
    }
    
    .menu-items:hover{
        color: #39b54a;
    }    
    
    .menu-container{
        display:flex;
        margin-right:5%;
    }

    #container{       
        width:50%;
        height: 450px;      
        border-top: 3px solid #39b54a;
        margin-left:25%;   
        margin-top:5%;    
        box-shadow: 2px 3px 10px 3px #888888;   
        border-radius: 3px;
        text-align: center;
    }

    #form-items{
        margin-top:5%;
        margin-left:5%;
        margin-right:5%;
    }

    .register{
        width:45%;
        margin-left:30%;
    }

    .reg-link{
        text-decoration:none;
    }

    .reg-link:hover{        
        color: #39b54a;
    }
}