#menu-header{
    --background:#fff;
    color: rgb(51, 24, 50);
}

.menu-container{
    --background: rgba(51,24,50, 0.5);
}

.menu-list{
    background:rgba(51,24,50, 0.5)
}

.menu-items{    
    --background: none;
    color: #fff;
}

ion-icon{
    color: #fff;
}

ion-icon:hover{
    color: #39b54a;
}