<ion-header class="ion-no-border">
  <ion-toolbar class="light-bg">
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="menu-container">
      <button class="menu-items current">
        <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
        Inicio
      </button>
      <button class="menu-items">
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        Denunciar
      </button>
      <button class="menu-items">
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        ¿Quienes somos?
      </button>
      <button class="menu-items">
        <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
        Ingresar
      </button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/img/logo.png" id="logo" alt="Asociación progreso para México">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <article class="title-violence">
    <section>
      <h3 align="center" class="title-violence-text">Violencia Laboral </h3>
    </section>
  </article>


  <article class="introduction centralized light-bg">


    <section>
      <h3 align="center" class="title"><b> ¿Violencia Laboral?</b></h3>
      <p align="center">La violencia laboral es una forma de abuso de poder cuya finalidad es excluir, aislar o someter
        al otro. Se manifiesta como agresión física o verbal, acoso sexual, hostigamiento laboral o violencia
        psicológica. Se presenta tanto en sentido vertical, como entre pares.

      </p>
    </section>


    <section class="report">
      <p align="center"><b>¡Todas las denuncias son anónimas!</b></p>
      <ion-button id="report-btn">
        Realizar una denuncia
      </ion-button>
    </section>


    <section>
      <h3 align="center" class="title"><b>¿Sabes como identificar la Violencia Laboral?</b></h3>
      <p align="center">La violencia laboral es una forma de
        abuso de poder cuya finalidad es
        excluir, aislar o someter al otro.<br>
        La violencia puede ser
        de mujeres hacia
        mujeres, de mujeres
        hacia hombres, de
        hombres hacia
        hombres y de hombres
        hacia mujeres. <br>Se manifiesta como agresión
        física o verbal, acoso sexual,
        hostigamiento laboral o
        violencia psicológica.<br>La edad,
        preferencia sexual,
        raza o el género
        pueden ser el
        motivo


      </p>
    </section>

  </article>

  <article class="message-violence">
    <section>
      <h3 align="center" class="message-violence-text">!NO TE CALLES¡</h3>
      <h3 align="subtitle" class="message-violence-text">RECUERDA QUE DENUNCIAR NO TIENE NINGUN COSTO</h3>
    </section>
  </article>






  <br><br><br><br>
  <article id="v-types" class="centralized">
    <h2 align="center" class="title"><b><br>La violencia laboral incluye pero no se limita a lo siguiente:</b></h2>
    <div class="v-content">
      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Te gritan en frente de otras personas o en privado.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Te asignan proyectos con plazos imposibles de cumplir.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Te sobrecargan de trabajo, más que lo que hacen otras compañeras o compañeros de tu equipo de trabajo.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>
              Te amenazan con despedirte.</p>
          </div>
        </div>
      </div>


      

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>
              Te ridiculizan o estigmatizan frente a otras personas</p>
          </div>
        </div>
      </div>
     

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Te hacen insinuaciones sexuales, hay contacto físico forzado o invitaciones inconvenientes, que se convierten en condiciones para obtener un ascenso, para mantener el empleo o reconocimiento.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Te niegan la contratación por ser mujer.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Descalificar tu trabajo por ser mujer.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Discriminarte por estar embarazada o negarte alguna de tus prestaciones.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Percibir un sueldo más bajo que alguno de tus compañeros por realizar la misma actividad.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Recibir amenazas, intimidaciones o humillaciones por parte de tus compañeros de trabajo o superiores.
            </p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Solicitarte una prueba de embarazo como requisito de contratación.
            </p>
          </div>
        </div>
      </div>


      





    </div>
  </article>

  <br><br>
  <br><br>
  <br><br>
  <article class="introductionbg">
    <section>
      <h3 align="center" class="title"><b> ¿Dónde denunciar?</b></h3>


      <p align="center"><b>FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 / 911</p>

      <h3 align="center" class="title"><b> ¿Dónde denunciar?</b></h3>
      <p align="center"><b>ATENCION TEMPRANA FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 </p>

      <p align="center"><b>COMISION MUNICIPAL DE LOS DERECHOS HUMANOS DE TEPIC</b></p>
      <p align="center">Membrillo Col. Comerciantes Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>


      <p align="center"><b>COMISION DE DEFENSA DE LOS DERECHOS HUMANOS DEL ESTADO DE NAYARIT</b></p>
      <p align="center">Encino 18, Col. San juan Esq. Jacarandas Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>



      <p align="center"><b>CESSA TEPIC CENTRO DE SALUD Y DE SERVICIOS AMPLIADOS JUAN ESCUTIA</b></p>
      <p align="center">Av.Juan Escutia Col. Centro 63195 Tepic, Nay.</p>
      <p align="center">311-216-39-43</p>


      <p align="center"><b>ATENCION TEMPRANA FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 </p>

      <p align="center"><b>CENTRO DE JUSTICIA DE LA MUJER</b></p>
      <p align="center">Av.Rey Nayar #199 63190 Tepic, Nay.</p>
      <p align="center">311-129-50-00</p>


      <p align="center"><b>COMISION DE DEFENSA DE LOS DERECHOS HUMANOS DEL ESTADO DE NAYARIT</b></p>
      <p align="center">Encino 18, Col. San juan Esq. Jacarandas Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>

      <p align="center"><b>INMUNAY INSTITUTO PARA LA MUJER NAYARITA</b></p>
      <p align="center">Av. México No 191 sur entre insurgentes y miñón, Tepic, Nay.</p>
      <p align="center">311-217-03-77</p>

    </section>

  </article>

  <article id="index-container">

    <ion-slide>
      <ion-avatar class="carousel">
        <img src="../assets/img/laboral.jpg" alt="img2" class="img-carousel">
      </ion-avatar>
    </ion-slide>
  </article>


  <article class="introductionbg">
    <section>
      <h3 align="center" class="title"><b> Recuerda que denunciar es completamente !GRATIS¡</b></h3>
      <p align="center">
        Intenta frenar el acoso. Pon límites y expresa tu sentir contra la persona que está violentándote para dejarle en claro que no vas a permitir tratos denigrantes posteriormente pudes realizar tu denuncia.</p>
    </section>
  </article>

  <br>
  <br>
  <br>
  <br>













  <article>

    <ion-card class="botom" routerLink="/institucional">
      <img src="../assets/img/institucional.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Institucional
        </ion-card-title>
        <p>
          Son los actos u omisiones de las personas con calidad de servidor público.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/sexual">
      <img src="../assets/img/sexual.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Sexual
        </ion-card-title>
        <p>
          Cuando se manipula a realizar una actividad sexual no deseada.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/laboral">
      <img src="../assets/img/laboral.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Laboral
        </ion-card-title>
        <p>
          No temas denunciar, aún si quien te acosa es tu superior jerárquico.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/feminicidio">
      <img src="../assets/img/feminicidio.jpg" />
      <ion-card-content>
        <ion-card-title>
          Feminicidio
        </ion-card-title>
        <p>
          Las autoridades deben respetar la dignidad de las víctimas.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/familiar">
      <img src="../assets/img/repro.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia familiar.
        </ion-card-title>
        <p>
          Los integrantes de la familia están obligados a evitar conductas que generen violencia familiar.
        </p>
      </ion-card-content>
    </ion-card>
  </article>

  <ion-footer>
    <div class="footer">
      <div class="footer-content">
        <h4 class="green-title">Contacto</h4>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="call-outline"></ion-icon>
          <p>311 264 0466</p>
        </ion-item>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="logo-facebook"></ion-icon>
          <p>/promexac</p>
        </ion-item>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="mail-outline"></ion-icon>
          <p>contacto@progresoparamexico.org</p>
        </ion-item>
      </div>
    </div>
  </ion-footer>

</ion-content>