<ion-header class="ion-no-border">
  <ion-toolbar class="light-bg">
    <ion-buttons slot="start" class="menu-button">
      <ion-menu-button menu="main-menu" class="purple"></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end" class="menu-container">
      <button class="menu-items current" [routerLink]="['/home']">
        <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
        Inicio
      </button>
      <button class="menu-items" [routerLink]="['/report']">
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        Denunciar
      </button>
      <button class="menu-items" [routerLink]="['/about']">
        <!-- <ion-icon slot="icon-only" name="search"></ion-icon> -->
        ¿Quienes somos?
      </button>    
      <button class="menu-items" [routerLink]="['/login']">
        <!-- <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon> -->
        Ingresar
      </button>
    </ion-buttons>
    <ion-title>      
      <a href="/home"><img src="../assets/img/logo.png" id="logo" alt="Asociación progreso para México"></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <article class="title-violence">
    <section>
      <h3 align="center" class="title-violence-text">Feminicidio </h3>
    </section>
  </article>


  <article class="introduction centralized light-bg">


    <section>
      <h3 align="center" class="title"><b> ¿Feminicidio?</b></h3>
      <p align="center">El asesinato de mujeres por razones de género, es decir, motivados por odio, poder, desprecio,
        placer o sentido de propiedad de las mujeres.
        <br>La muerte violenta de las mujeres por razones de género, tipificada en nuestro sistema penal como
        feminicidio, es la forma más extrema de violencia contra la mujer y una de las manifestaciones más graves de la
        discriminación hacia ellas.
      </p>
    </section>


    <section class="report">
      <p align="center"><b>¡Todas las denuncias son anónimas!</b></p>
      <ion-button id="report-btn" [routerLink]="['/report']">
        Realizar una denuncia
      </ion-button>
    </section>


    <section>
      <h3 align="center" class="title"><b>Una mujer fue víctima de femicidio si se le privó de la vida por una razón de
          género.</b></h3>
      <p align="center">La violencia contra las mujeres tiene su origen en la desigualdad de género, es decir, en la posición de subordinación, marginalidad y riesgo en el cual éstas se  encuentran respecto de los hombres.
        <br>El asesinato de mujeres por razones de género es la violencia más grave y extrema contra una mujer, este tipo
de violencia afecta a niñas y mujeres de todas las edades,
sin distinción de ubicación económica, social o cultural.

      </p>
    </section>

  </article>

  <article class="message-violence">
    <section>
      <h3 align="center" class="message-violence-text">!NO TE CALLES¡</h3>
      <h3 align="subtitle" class="message-violence-text">RECUERDA QUE DENUNCIAR NO TIENE NINGUN COSTO</h3>
    </section>
  </article>






  <br><br><br><br>
  <article id="v-types" class="centralized">
    <h2 align="center" class="title"><b><br>Una mujer fue víctima de femicidio si se le privó de la vida por una razón de
      género.<br> Se considera que existen razones de género cuando concurra alguna de las siguientes
      circunstancias:</b></h2>
    <div class="v-content">
      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Violencia Sexual</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>A la víctima se le hayan infligido lesiones o mutilaciones infamantes o degradantes, previas o posteriores a la privación de la vida o actos de necrofilia.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Antecedentes de amenazas y acosos.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Relación de parentesco, matrimonio o amistad.</p>
          </div>
        </div>
      </div>


      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>La victima haya sido incomunicada, cualquiera que sea el tiempo previo a la privación de la vida.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Si el cuerpo fue expuesto o exhibido en un lugar público.</p>
          </div>
        </div>
      </div>

      <div class="v-item first-row">
        <div class="v-title md">
          <!--  <ion-avatar>
             <img src="">
            </ion-avatar> -->
        </div>
        <div class="v-text md">
          <div>
            <!--  <h1 class="subtitle">Si...</h1> -->
            <p>Si la víctima se haya encontrado en un estado de indefensión, entendiéndose éste como la situación de desprotección real o incapacidad que imposibilite su defensa.</p>
          </div>
        </div>
      </div>


      
      

    </div>
  </article>

<br><br>
<br><br>
<br><br>
  <article class="introductionbg">
    <section>
      <h3 align="center" class="title"><b> ¿Dónde denunciar?</b></h3>

   
      <p align="center"><b>FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 / 911</p>

          <h3 align="center" class="title"><b> ¿Dónde denunciar?</b></h3>
          <p align="center"><b>ATENCION TEMPRANA FISCALIA DEL ESTADO</b></p>
          <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
          <p align="center">311-129-60-00 </p>
    
          <p align="center"><b>COMISION MUNICIPAL DE LOS DERECHOS HUMANOS DE TEPIC</b></p>
          <p align="center">Membrillo Col. Comerciantes Tepic, Nay.</p>
          <p align="center">311-378-99-43 </p>
    
          
          <p align="center"><b>COMISION DE DEFENSA DE LOS DERECHOS HUMANOS DEL ESTADO DE NAYARIT</b></p>
          <p align="center">Encino 18, Col. San juan Esq. Jacarandas Tepic, Nay.</p>
          <p align="center">311-378-99-43 </p>
          


      <p align="center"><b>CESSA TEPIC CENTRO DE SALUD Y DE SERVICIOS AMPLIADOS JUAN ESCUTIA</b></p>
      <p align="center">Av.Juan Escutia Col. Centro 63195 Tepic, Nay.</p>
      <p align="center">311-216-39-43</p>


      <p align="center"><b>DIF ESTATAL</b></p>
      <p align="center">Blvrd Luis Donaldo Colosio #93, Ciudad Industrial 63173, Tepic, Nay.</p>
      <p align="center">311-129-51-00</p>

      <p align="center"><b>DIF MUNICIPAL</b></p>
      <p align="center">Blvrd Luis Donaldo Colosio #1094, Fracc. Jacarandas Tepic, Nay.</p>
      <p align="center">311-219-67-45 ext. 120</p>

      <p align="center"><b>PROCURADORA DE PREVENCION A NIÑAS, NIÑOS Y ADOLESCENTES</b></p>
      <p align="center">Blvrd Luis Donaldo Colosio #93, Ciudad Industrial 63173, Tepic, Nay.</p>
      <p align="center">311-129-51-00</p>


      <p align="center"><b>ATENCION TEMPRANA FISCALIA DEL ESTADO</b></p>
      <p align="center">Tecnológico No. 3200 Oriente, Ciudad Industrial, 63195 Tepic, Nay.</p>
      <p align="center">311-129-60-00 </p>

      <p align="center"><b>CENTRO DE JUSTICIA DE LA MUJER</b></p>
      <p align="center">Av.Rey Nayar #199 63190 Tepic, Nay.</p>
      <p align="center">311-129-50-00</p>

      <p align="center"><b>PAMAR</b></p>
      <p align="center">Rayón #86 Col. Acayapan Tepic, Nay.</p>
      <p align="center">311-212-07-21</p>


      <p align="center"><b>COMISION DE DEFENSA DE LOS DERECHOS HUMANOS DEL ESTADO DE NAYARIT</b></p>
      <p align="center">Encino 18, Col. San juan Esq. Jacarandas Tepic, Nay.</p>
      <p align="center">311-378-99-43 </p>

      <p align="center"><b>INMUNAY INSTITUTO PARA LA MUJER NAYARITA</b></p>
      <p align="center">Av. México No 191 sur entre insurgentes y miñón, Tepic, Nay.</p>
      <p align="center">311-217-03-77</p>

    </section>

  </article>

  <article id="index-container">

    <ion-slide>
      <ion-avatar class="carousel">
        <img src="../assets/img/feminicidio.jpg" alt="img2" class="img-carousel">
      </ion-avatar>
    </ion-slide>
  </article>


  <article class="introductionbg">
    <section>
      <h3 align="center" class="title"><b> Recuerda que denunciar es completamente !GRATIS¡</b></h3>
      <p align="center"><b>"Rompe el silencio. Cuando seas testigo de la violencia contra las mujeres no te quedes de brazos cruzados. Actúa"</b>. Ban Ki-moon, exsecretario general de la ONU, nos invita a reaccionar cuando veamos una agresión a una mujer.</p>
    </section>
  </article>

  <br>
  <br>
  <br>
  <br>

  <article>

    <ion-card class="botom" routerLink="/violence-type/institucional">
      <img src="../assets/img/institucional.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Institucional
        </ion-card-title>
        <p>
          Son los actos u omisiones de las personas con calidad de servidor público.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/sexual">
      <img src="../assets/img/sexual.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Sexual
        </ion-card-title>
        <p>
          Cuando se manipula a realizar una actividad sexual no deseada.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/laboral">
      <img src="../assets/img/laboral.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia Laboral
        </ion-card-title>
        <p>
          No temas denunciar, aún si quien te acosa es tu superior jerárquico.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/feminicidio">
      <img src="../assets/img/feminicidio.jpg" />
      <ion-card-content>
        <ion-card-title>
          Feminicidio
        </ion-card-title>
        <p>
          Las autoridades deben respetar la dignidad de las víctimas.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card class="botom" routerLink="/violence-type/familiar">
      <img src="../assets/img/repro.jpg" />
      <ion-card-content>
        <ion-card-title>
          Violencia familiar.
        </ion-card-title>
        <p>
          Los integrantes de la familia están obligados a evitar conductas que generen violencia familiar.
        </p>
      </ion-card-content>
    </ion-card>
  </article>

  <ion-footer>
    <div class="footer">
      <div class="footer-content">
        <h4 class="green-title">Contacto</h4>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="call-outline"></ion-icon>
          <p>311 264 0466</p>
        </ion-item>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="logo-facebook"></ion-icon>
          <p>/promexac</p>
        </ion-item>
        <ion-item lines="none" class="footer-item">
          <ion-icon name="mail-outline"></ion-icon>
          <p>contacto@progresoparamexico.org</p>
        </ion-item>
      </div>
    </div>
  </ion-footer>

</ion-content>